:root {
	--col-bgdark: lab(10 0 0);
	--col-bglight: lab(80 0 0);
	--col-text-light: lab(90 0 0);
	--col-text-dark: lab(5 0 0);
	--col-fakeoranj: lab(068 143 73);
	--col-fakeoranj-dim: lab(050 143 73);
	--col-blush-light: lab(086 048 -007);
	--col-blush: lab(068 048 -007);
	--col-blush-dim: lab(050 048 -007);
	--font-sans: "Arial", "Helvetica Neue", "Helvetica", "Open Sans", sans-serif;
	--font-code: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

* {
	padding: 0;
	margin: 0;
	color: var(--col-text-light);
}

body {
	margin: 0;
	background-color: var(--col-bgdark);
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: var(--font-code);
}


/* Structure things */
.flex_column {
	display: flex;
	flex-direction: column;
}

.container_std {
	width: 100%;
}

.vh100 {
	height: 100vh;
}


/* Text and button styles */
.title-centre {
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
}

/* nabbed from: https://web.dev/articles/speedy-css-tip-animated-gradient-text */
.title-nyan {
	animation: move-bg 12s linear infinite;
	background: linear-gradient(
		90deg,
		var(--col-fakeoranj),
		var(--col-blush),
		var(--col-fakeoranj)
	)
	0 0 / 400% 100%;
	background-clip: text;
	color: transparent;
}

@keyframes move-bg {
	to {
		background-position: 400% 0;
	}
}

.text_category_mid {
	font-family: var(--font-code);
	font-size: 1rem;
}

/* button {
	color: var(--col-text-navdark);
}
input {
	color: var(--col-text-navdark);
} */

/* very much taken from https://css-tricks.com/css-link-hover-effects/ */
a {
	position: relative;
	color: var(--col-text-light);
	text-decoration: none;
}

a::before {
	position: absolute;
	z-index: -1;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 20%;
	margin-bottom: -3px;
	background-color: var(--col-blush-dim);
	content: "";
	transition: all .15s ease-in-out;
}

a:hover::before {
	height: 60%;
	background-color: var(--col-blush);
}

.cursor_pointer {
	cursor: pointer;
}



/* shenanigans */
.bingo_grid {
	display: grid;
	padding-right: 4rem;
	padding-left: 4rem;
	/* cols will be at least 10rem wide, at max 100%/4 width (i.e., only 4 columns max) */
	/* if screen goes really narrow, the user deserves CSS blowout */
	grid-template-columns: repeat(auto-fill, minmax(max(10rem, calc(100%/4)), 1fr));
}

.bingo_boop {
	padding-top: 0.2rem;
	padding-right: 0.4rem;
	padding-bottom: 0.2rem;
	padding-left: 0.4rem;
	border: 2px solid var(--col-bglight);
	cursor: pointer;
	font-size: 1.5rem;
	hyphens: auto;
	transition-duration: 00ms;
	word-wrap: break-word;
}

.bingo_boop:hover {
	background-color: var(--col-blush);
}

.bingo_boop_selected {
	background-color: var(--col-blush-dim);
}